<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil do Usuário</title>

    <!-- REMIX ICONS -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../styles/header.css"" />
    <link rel="stylesheet" href="../styles/userProfile.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <!-- menu -->
        <div class="option__menu">
          <div class="option__center">
            <div class="logo">
              <i class="ri-twitter-x-fill"></i>
            </div>
            <div class="option">
              <div>
                <a href="/home"
                  ><i class="ri-home-4-line"></i>
                  <p>Home</p></a
                >
              </div>
              <div>
                <a href="#"
                  ><i class="ri-notification-line"></i>
                  <p>Explore</p></a
                >
              </div>
              <div>
                <a href="#"
                  ><i class="ri-hashtag"></i>
                  <p>Notifications</p></a
                >
              </div>
              <div>
                <a href="#">
                  <i class="ri-mail-line"></i>
                  <p>Messages</p></a
                >
              </div>
              <div>
                <a href="#"
                  ><i class="ri-bookmark-line"></i>
                  <p>Bookmarks</p></a
                >
              </div>
              <div>
                <a href="#"
                  ><i class="ri-list-check"></i>
                  <p>Lists</p></a
                >
              </div>
              <div>
                <a href="#"
                  ><i class="ri-user-line"></i>
                  <p>Profile</p></a
                >
              </div>
              <div>
                <a href="#"
                  ><i class="ri-more-line"></i>
                  <p>More</p></a
                >
              </div>
              <div id="tweetar">
                <% if (userId) { %>
                <a href="/tweetar" class="tweetar"
                  ><i class="ri-quill-pen-line"></i>Postar</a
                >
                <% } %>
              </div>
            </div>
          </div>

          <!-- Mini Card do Usuário -->
          <% if (userId) { %>
          <script>
            const usuarioLogado = {
              foto_Perfil:
                '<%= usuarioLogado.foto_Perfil || "../images/perfis/userBOX.jpg" %>',
              nome: "<%= usuarioLogado.nome_User %>",
              apelido: "<%= usuarioLogado.apelido_User %>",
            };
          </script>
          <div class="mini-card">
            <a href="/perfil/<%= userId %>">
              <img
                src="<%= usuarioLogado.foto_Perfil || '../images/perfis/userBOX.jpg' %>"
                alt="Imagem de perfil"
              />
              <div class="user-info">
                <span><%= usuarioLogado.nome_User %></span>
                <p>@<%= usuarioLogado.apelido_User %></p>
              </div>
            </a>
          </div>
          <% } %>
        </div>
        <!-- end menu -->

        <!-- userProfile -->
        <div class="userProfile">
          <div class="userInformation">
            <div class="userInformation__content">
              <div class="userInformation__img">
                <img
                  src="<%= usuario.foto_Perfil || '../images/perfis/userBOX.jpg' %>"
                  alt="Foto de perfil usuario"
                />
                <% if (podeEditar) { %>
                <a href="/editarFoto">
                  <i class="ri-pencil-line"></i>
                  <% } %>
                </a>
              </div>
              <div class="userInformation__text">
                <p><%= usuario.nome_User %></p>
                <p>@<%= usuario.apelido_User %></p>
                <% if (podeEditar) { %>
                <form
                  id="biografiaForm"
                  action="/editar-biografia"
                  method="post"
                >
                  <input
                    type="text"
                    id="biografiaInput"
                    name="novaBiografia"
                    value="<%= usuario.biografia || 'No bio yet' %>"
                    readonly
                  />
                  <br />
                  <div>
                    <span onclick="alternarEdicaoBiografia()">
                      <i class="ri-file-edit-line"></i>
                      <p id="editBio">Editar biografia</p></span
                    >

                    <!-- Botão Salvar -->
                    <button type="submit" id="btnSalvar" style="display: none">
                      Salvar
                    </button>
                  </div>
                </form>
                <% } else { %>
                <span><%= usuario.biografia || 'No bio yet' %></span>
                <% } %>
              </div>
            </div>
          </div>

          <div class="tweets__container">
            <% usuario.tweets.forEach((tweet) => { %>
            <div class="tweets__content">
              <div class="profile__msg">
                <div class="profile__img">
                  <img
                    src="<%= usuario.foto_Perfil || '../images/perfis/userBOX.jpg' %>"
                    alt="Foto de perfil usuario"
                  />
                </div>
                <div class="profile__msg__content">
                  <div class="profile__name">
                    <span
                      ><p><%= usuario.nome_User %></p>
                      @<%= usuario.apelido_User %></span
                    >
                  </div>
                  <div class="msg">
                    <p><%= tweet.texto_Tweet %></p>
                  </div>
                </div>
              </div>
            </div>

            <% }) %>
          </div>
        </div>
        <!-- end userProfile -->
      </div>
    </main>
    <script src="../scripts/userProfile.js"></script>
    <script src="../scripts/home.js"></script>
  </body>
</html>
